body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.sanpham {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sp {
  border: 1px #000000 solid;
  margin: 1rem;
}

.sp img {
  width: 280px;
  height: 350px;
}

.sp-thongtin {
  padding: 1rem;
}
